{% extends 'base.html.twig' %}

{% block nav %}
    <div></div>
{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        <label for="inputEmail" class="sr-only">Email</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                        <label for="inputPassword" class="sr-only">Password</label>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Log in
                </button>
        </form>

        <a href="{{ path('home') }}" class="btn" id="homeBtn" >Home</a>
    </div>

{% endblock %}
