{% extends 'base.html.twig' %}

{% block title %}{{ user.username | replace({".": " "}) | title}} 's portefolio{% endblock %}

{% block body %}

    <div style="background-image: url({{ asset('assets/img/004.jpg') }}) !important;" class="bg-img">
        <div class="container">
            <div class="row valign-wrapper bg-img">
                <div class="col s12">
                    <h1 class="amber-text text-lighten-4 center-align">{{ user.specialty }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="myDivider"></div>
    <div class="container" id="myProjects">
        {{ include('home/projects.html.twig') }}
    </div>
    <div class="myDivider"></div>
    <div class="container" id="myExperiences">
       {{ include('home/experiences.html.twig') }}
    </div>
    <div class="myDivider"></div>
    <div class="container" id="mySkills">
        {{ include('home/skills.html.twig') }}
    </div>
    <div class="myDivider"></div>
    <div class="container" id="myContact">
        {{ include('home/contact.html.twig') }}
    </div>


{% endblock %}

