<div class="row">
    <div class="col s12">
        <h4 class="center-align">My Projects</h4>
    </div>
</div>
<div class="myDivider"></div>
<div class="row projects">
    {% for item in user.projects %}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="{{ item.attachment.path }}">
                {% if item.attachment.textColor == 'dark' %}
                <span class="card-title blue-text text-darken-3">{{ item.title }}</span>
                {% else %}
                <span class="card-title amber-text text-lighten-4">{{ item.title }}</span>
                {% endif %}
                <a class="btn-floating halfway-fab waves-effect waves-light blue darken-3" href="{{ item.link }}">
                    <i class="material-icons amber-text text-lighten-4">code</i>
                </a>
            </div>
            <div class="card-content">
                {% for tool in item.tools %}
                <span class="badge">{{ tool.label }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>