{% extends 'baseAdmin.html.twig' %}

{% block title %}Attachments{% endblock %}

{% block body %}
    <h1>Attachments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attachment.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ attachment.label }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ attachment.path }}</td>
            </tr>
            <tr>
                <th>TextColor</th>
                <td>{{ attachment.textColor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('attachments_index') }}">back to list</a>

    <a href="{{ path('attachments_edit', {'id': attachment.id}) }}">edit</a>

    {{ include('attachments/_delete_form.html.twig') }}
{% endblock %}
