{% extends 'baseAdmin.html.twig' %}

{% block title %}Tools index{% endblock %}

{% block body %}
    <h1>Tools index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Color</th>
                <th>Mastery</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tool in tools %}
            <tr>
                <td>{{ tool.id }}</td>
                <td>{{ tool.label }}</td>
                <td>{{ tool.color }}</td>
                <td>{{ tool.mastery }}</td>
                <td>
                    <a href="{{ path('tools_show', {'id': tool.id}) }}">show</a>
                    <a href="{{ path('tools_edit', {'id': tool.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tools_new') }}">Create new</a>
{% endblock %}
