{% extends 'baseAdmin.html.twig' %}

{% block title %}Tools{% endblock %}

{% block body %}
    <h1>Tools</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tool.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ tool.label }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ tool.color }}</td>
            </tr>
            <tr>
                <th>Mastery</th>
                <td>{{ tool.mastery }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tools_index') }}">back to list</a>

    <a href="{{ path('tools_edit', {'id': tool.id}) }}">edit</a>

    {{ include('tools/_delete_form.html.twig') }}
{% endblock %}
